@model IEnumerable<Firma.Data.Data.Sklep.Product>

<div class="news-container">
    <h1 class="store-title">News</h1>
    <div class="news-grid">
        @foreach (var item in Model)
        {
            <div class="news-card">
                <h2 class="top-h2-padding">@item.Name</h2>
                <img src="@item.ImageUrl" alt="@item.Name">
                <div class="p-and-button">
                    <p class="price">@item.Price.ToString("C")</p>
                    <a href="@Url.Action("Details", "Product", new { id = "test" })" class="btn">Buy</a>
                </div>
            </div>
        }
    </div>
</div>
