@model IEnumerable<Firma.Data.Data.Sklep.Support>

@{
    ViewData["Title"] = "Support";
}

<h1 class="my-4">Support</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Add new Support</a>
</p>

<table class="table table-striped table-bordered table-hover align-middle text-center table-responsive-stack">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdSupport" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.IdSupport" class="btn btn-sm btn-danger ms-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
