@model Firma.Data.Data.Sklep.Users

@{
    ViewData["Title"] = "Delete User";
}

@section Styles {
    <link rel="stylesheet" href="~/css/delete.css" />
}

<div class="container">
    <div class="title text-danger">Delete Account</div>
    <div class="content">
        <h4 class="mb-4">Are you sure you want to delete this?</h4>

        <div class="user-details">
            <div class="input-box">
                <span class="details">Name</span>
                <div>@Model.Name</div>
            </div>

            <div class="input-box">
                <span class="details">Surname</span>
                <div>@Model.Surname</div>
            </div>

            <div class="input-box">
                <span class="details">Email</span>
                <div>@Model.Email</div>
            </div>

            <div class="input-box">
                <span class="details">Phone</span>
                <div>@Model.Phone</div>
            </div>

            <div class="input-box">
                <span class="details">Address</span>
                <div>@Model.Address</div>
            </div>

            <div class="input-box">
                <span class="details">City</span>
                <div>@Model.City</div>
            </div>

            <div class="input-box">
                <span class="details">Postal Code</span>
                <div>@Model.PostalCode</div>
            </div>

            <div class="input-box">
                <span class="details">Country</span>
                <div>@Model.Country</div>
            </div>

            <div class="input-box">
                <span class="details">Date of Birth</span>
                <div>@Model.DateOfBirth.ToShortDateString()</div>
            </div>
        </div>

        <form asp-action="Delete" class="mt-4">
            <input type="hidden" asp-for="IdUser" />
            <div class="button">
                <input type="submit" value="Confirm Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
