@model Firma.Data.Data.Sklep.Privacy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Privacy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Introduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InformationWeCollect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InformationWeCollect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HowWeUseInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HowWeUseInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSecurity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSecurity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cookies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cookies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdPartyDisclosure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdPartyDisclosure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YourConsent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YourConsent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPrivacy">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
